BasedOnStyle: LLVM

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never

# Braces
BreakBeforeBraces: Allman

# Includes
IncludeBlocks: Regroup
SortIncludes: true
IncludeCategories:
  - Regex: '^<.*\.h>'
    Priority: 1
  - Regex: '^"engine/.*"'
    Priority: 2
  - Regex: '.*'
    Priority: 3

# Spacing
SpaceBeforeParens: ControlStatements
SpacesInAngles: false
SpacesInCStyleCastParentheses: false

# Misc
AllowShortFunctionsOnASingleLine: Empty
NamespaceIndentation: All
ConstructorInitializerIndentWidth: 4
